<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>--iosURLSession的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3CCA9BC1C70A72500C09176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CCA9D51C70A72500C09176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CCA9E01C70A72500C09176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
