<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>shenhua.png</string>
		<key>singerIcon</key>
		<string>shenhua.png</string>
		<key>filename</key>
		<string>chenglong.mp3</string>
		<key>name</key>
		<string>神话</string>
		<key>singer</key>
		<string>成龙-金喜善</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/chenglong.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Gary.png</string>
		<key>singerIcon</key>
		<string>Gary.png</string>
		<key>filename</key>
		<string>Gary.mp3</string>
		<key>name</key>
		<string>喜欢</string>
		<key>singer</key>
		<string>Gary</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/Gary.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>father.png</string>
		<key>singerIcon</key>
		<string>father.png</string>
		<key>filename</key>
		<string>father.mp3</string>
		<key>name</key>
		<string>父亲</string>
		<key>singer</key>
		<string>老男孩</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/father.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>fantasticbaby.png</string>
		<key>singerIcon</key>
		<string>fantasticbaby,png</string>
		<key>filename</key>
		<string>fanrasticbaby.mp3</string>
		<key>name</key>
		<string>fantastic baby</string>
		<key>singer</key>
		<string>Bigbang</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/fanrasticbaby.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lidaimo.png</string>
		<key>singerIcon</key>
		<string>lidaimo.png</string>
		<key>filename</key>
		<string>woshibushinizuitengaideren.mp3</string>
		<key>name</key>
		<string>我是不是你最疼爱的人</string>
		<key>singer</key>
		<string>李代沫</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/woshibushinizuitengaideren.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>shaonvshidai.png</string>
		<key>singerIcon</key>
		<string>shaonvshidai.png</string>
		<key>filename</key>
		<string>findyoursoul.mp3</string>
		<key>name</key>
		<string>Find Your Soul</string>
		<key>singer</key>
		<string>少女时代</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/findyoursoul.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>party.png</string>
		<key>singerIcon</key>
		<string>party.png</string>
		<key>filename</key>
		<string>party.mp3</string>
		<key>name</key>
		<string>Party</string>
		<key>singer</key>
		<string>少女时代</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/party.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lovehard.png</string>
		<key>singerIcon</key>
		<string>lovehard.png</string>
		<key>filename</key>
		<string>lovehard.mp3</string>
		<key>name</key>
		<string>越难越爱</string>
		<key>singer</key>
		<string>吴若曦</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/lovehard.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>pingfanzhilu.png</string>
		<key>singerIcon</key>
		<string>pingfanzhilu.png</string>
		<key>filename</key>
		<string>pingfanzhilu.mp3</string>
		<key>name</key>
		<string>平凡之路</string>
		<key>singer</key>
		<string>朴树</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/pingfanzhilu.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>seeyouagain.png</string>
		<key>singerIcon</key>
		<string>seeyouagain.png</string>
		<key>filename</key>
		<string>seeyouagain.mp3</string>
		<key>name</key>
		<string>See you again</string>
		<key>singer</key>
		<string>维兹.卡利法</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/seeyouagain.mp3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>reset.png</string>
		<key>singerIcon</key>
		<string>reset.png</string>
		<key>filename</key>
		<string>Reset.mp3</string>
		<key>name</key>
		<string>Reset</string>
		<key>singer</key>
		<string>Tiger.JK</string>
		<key>url</key>
		<string>http://127.0.0.1/musics/Reset.mp3</string>
	</dict>
</array>
</plist>
