<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>slide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E30A3E091CD70FFD0014F4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E30A3E221CD70FFD0014F4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E30A3E2D1CD70FFD0014F4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
